#main{
    background-color: #233142;
    width: 250px;
    border-radius: 10px;
}
.button{
    display: flex;
}
div{
    padding: 10px;
    justify-content: space-between;
}
.numbut{
    background-color: #fafafa;
    border-radius: 20px;
}
#display-container{
    padding: 10px;
}
#display{
    padding: 7px;
}